#footer {
  padding: 20px 0px;
  text-align: center;
  background-color: $charcoal1;

  p {
    font-weight: 600;
  }

  a {
    color: $teal;
    @extend %transition;
  }
  a:hover {
    color: $white;
  }

}
