// Colors
$white: #ffffff;
$black: #000000;

$bg: #e8e8e8;
$teal: #00adb5;
$charcoal1: #393e46;
$charcoal2: #222831;

// Weights
$light-weight: 300;
$normal-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 800
